<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Banks</title>
</head>

<body>
    <h1>All Banks</h1>
    <ul>
        {% for bank in banks %}
            <li><a href={% url 'bank_details' bank.id %}>{{ bank.name }}</a></li><br>
        {% endfor %}
        <button><a href="{% url 'add_bank' %}">Add New Bank</a></button><br>
        <a href="{% url 'home' %}" class="button">Back</a><br>
    </ul>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="button">Logout</a><br>
    {% else %}
        <a href="{% url 'login' %}" class="button">Login</a> <br>
        <a href="{% url 'signup' %}" class="button">Signup</a> <br>
    {% endif %}
    
</body>
</html>